{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-useless-escape": "warn",
        "camelcase": "warn",
        "prefer-promise-reject-errors": "warn",
        "func-names": "off",
        "class-methods-use-this": "off",
        "prefer-object-spread": "warn",
        "arrow-body-style": "off"
      },
}